<div class='container'>
  <div class='row'>
    
    <div class='col-md-5'>
      <h2>User info</h2>
      <%= render 'pro', user: @user %>
      <h2 class="mt-5">New book</h2>
      <%= render 'books/input', book: @book %>
    </div>
    
    <div class='col-md-5 offset-md-1'>
      <h2>Books</h2>
      <%= render 'books/chart',books: @books %>
    </div>
    
  </div>
</div>
